# Environment variables

export NAME="Your Name"	         # Change this
export EMAIL="email@example.com" # Change this
export ID=1111
export DEV="dev"
export CTHOST="dev"

# You will find a similar stub in /dotfiles/dev/.oh-my-zsh/custom/env.zsh_EDITME
# Rename that file to env.zsh after modifying your values
