# Environment variables

export NAME="Your Name"           # change this
export EMAIL="email@example.com"  # change this

export ADM="username"             # change this to existing user
export DEV="dev"
export ID=1111
export CTHOST="dev"

# Optional local secrets
export SSH_SIGN_KEY="/home/$ADM/.ssh/sign"    # put your signing key here
export SSH_PRIVATE_KEY="/home/$ADM/.ssh/dev"  # dev ssh key

# export GITHUB_TOKEN="$(gh auth token)"
# export HETZNER_API_KEY=""
# export OPENAI_API_KEY=""
# export ...

# Copy this file to /dotfiles/dev/.oh-my-zsh/custom/env.zsh
